body{
	background-color: white;
}

.navbar-inverse{
	background-color: #87cf25;
}

.card_title a{
    color:inherit;
}

img.available{
    filter:opacity(100%);
}
.ribbon-container {
  position: absolute;
  top: 35px;
  right: 5px;
  overflow: visible;
  /* so we can see the pseudo-elements we're going to add to the anchor */

  font-size: 18px;
  /* font-size and line-height must be equal so we can account for the height of the banner */

  line-height: 0px;
}

.ribbon-container:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  border-top: 20px solid rgba(0, 0, 0, .3);
  /* These 4 border properties create the first part of our drop-shadow */

  border-bottom: 20px solid rgba(0, 0, 0, .3);
  border-right: 20px solid rgba(0, 0, 0, .3);
  border-left: 30px solid transparent;
}

.ribbon-container:after {
  /* This adds the second part of our dropshadow */

  content: "";
  height: 3px;
  background: rgba(0, 0, 0, .3);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 50px;
  right: 3px;
}

.ribbon-container span {
  display: block;
  padding: 20px;
  position: relative;
  /* allows us to position our pseudo-elements properly */

//  background: #0089d0;
//  background: #d05900;
//  background: #904035;
  background: #cf4d25;
  overflow: visible;
  height: 36px;
  margin-left: 29px;
  color: #fff;
  text-decoration: none;
}

.ribbon-container span:after {
  /* this creates the "folded" part of our ribbon */

  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  right: 0;
//  border-top: 15px solid #004a70;
  border-top: 15px solid #702a00;
  border-right: 15px solid transparent;
}

.ribbon-container span:before {
  /* this creates the "forked" part of our ribbon */

  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  left: -29px;
//  border-top: 20px solid #0089d0;
//  border-top: 20px solid #d05900;
//  border-top: 20px solid #904035;
  border-top: 20px solid #cf4d25;
//  border-bottom: 20px solid #0089d0;
//  border-bottom: 20px solid #d05900;
//  border-bottom: 20px solid #904035;
  border-bottom: 20px solid #cf4d25;
  border-right: 20px solid transparent;
  border-left: 30px solid transparent;
}

.ribbon-container-bg-due span {
  background: #cf2525;
}

.ribbon-container-bg-due span:after {
  border-top: 15px solid #6c0000;
}

.ribbon-container-bg-due span:before {
  border-top: 20px solid #cf2525;
  border-bottom: 20px solid #cf2525;
}

.gesuchotron{
    padding: 20px;
    border-radius: 5px;
    background: #eefaff; /*light blue*/
    margin-bottom: 5px;
}

.navbar-nav .open .dropdown-menu {
	background-color: #659c59;
        color:#fff;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #659c59;
}
.navbar-inverse .navbar-toggle {
	border-color: #659c59;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	background-color: #266a21;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-text:focus {
        color: #ffe;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffe;
}

.pinned_note{
    color:#8ab;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text{
    color: #fff;
    padding-left:24px;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-text:focus{
}

.supporter img{
    margin: 5px 0px;
   -moz-box-shadow:     5px 5px 5px #222;
   -webkit-box-shadow:  5px 5px 5px #222;
   box-shadow:          5px 5px 5px #222;
}

.comic_item_back{
        //background: url('/img/bg_items.png');
        background: url('/img/kachel_400g.png');
	background-color: #87cf25;
}
.smart_woman{
        background: url('/img/cosum_hdm_zelt.jpg');
}
.backpacker{
    /*background: url('/img/story_backpacker.jpg'); */
    background: url('/img/backpacker_alexanderplatz.jpg');
}
.hands_community{
        background: url('/img/hands_community.jpg');
}
.laptop_woman{
        background: url('/img/story_laptop_woman.jpg');
}

.mini_story{
    height:500px;
    position:relative;
    background-size: cover;
    padding-left:0 !important;
}

.smart_woman{
    background-position: 52% 75%;
}

.backpacker{
    background-position: 20% 80%;
}

.hands_community{
    background-position: 50% 0%;
}
.laptop_woman{
    background-position: 28% 0%;
}

.mini_story > p {
    color: white;
    font-weight:bold;
    width: 100%;
    /*legacy browsers */
    background: #87cf25; 
    background: #87cf25aa;
    //background: #2579a9;
    //background: #2579a9aa;
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding: 20px 0px;
    position: absolute;
    bottom: 10%;
}

.item_example{
/*	border: 1px solid #40c104;*/
	background: white;
}
/*.item_example > p { font-weight: bold !important; color: #87cf25; }*/
.header_link { font-weight: bold !important; }

.lending_concept{ border: 1px solid #29bfce;background:white; color:black; color:darkcyan; }
.lending_concept > h3 { font-weight: bold; color: #87cf25;}

.separator{ border-radius:5px; border-style:dashed;}

.carousel-control {border-radius:5px; bottom:30px;}
.jumbotron{

}

.footer {
   width: 100%;
   background-color: #87cf25;
   background-color: #2a88bd;
   color: white;
   padding-left: 0;
   margin-left: 0;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   padding: 0px 40px;
}

.front-btn{width: 187px;margin-bottom:5px; font-weight:bold;}

.giftbanner{
    border-radius: 0px;
    line-height: 0.5;
}
.blockedbanner{
    border-radius: 0px;
    line-height: 0.5;
}

.category_lbl{
    border-radius: 0px 0px 5px 5px;
}

.btn-success{
    background-color:#87cf25;
}

.btn-primary{
    background-color: #3a859a;
}

.label-primary{
    background-color: #3a859a;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
	background-color: #659c59;
}
