.cosum_bg_beige{
    background: #f8cb97;
}

.cosum_bg_silver{
    background: #ebebeb;
}

.cosum_bg_blue{
    background: #426eaf;
}

.cosum_text_blue{
    color:#426eaf !important;
}

.cosum_text_blue > ul > li > a{
    color:#426eaf !important;
}

.cosum_text_blue ul > > li > a:hover{
    color:#222 !important;
}

.cosum_logo_in_blue{
    filter: invert(40%) sepia(100%) saturate(317%) hue-rotate(175deg) brightness(85%) contrast(92%);
}

.navbar, .navbar-inverse{
    background: #ebebeb;
    border:none;
}

.lending_concept{
    background-color: #ebebeb !important;
}

.navbar-nav .open .dropdown-menu {
    background-color: #ebebeb !important;
    color:#426eaf !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
    background-color: #ebebeb !important;
    color:#426eaf !important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color:#426eaf !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #f9f9f9 !important;
}

.well{
	background: #fff !important;
}
.gesuchotron{
    background-color: #f9f9f9 !important;
}
.item_example{ border: 1px solid #f9f9f9 !important;background: #f9f9f9;}
/*.item_example > p { font-weight: bold !important; color: #87cf25; }*/

